* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#body {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#head {
    width: 100%;
    max-height: 10vh;
    text-align: center;
    background-color: black;
}

#container {
    height: 90%;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#sectionContainer {
    height: auto;
    max-height: 90vh;
    width: 75vw;
    display: flex;
    flex-direction: row;
    background-color: black;
}

#feedContainer {
    height: 90vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

#postContainerWithImage {
    height: auto;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 3px;

}

#postContainerWithoutImage {
    height: auto;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 3px;

}

#commentContainerWithoutImage {
    height: 45vh;
    width: 25vw;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

#profileContainerWithoutImage {
    width: 50vw;
    height: 7vh;
    flex-direction: row;
    display: flex;
    border-bottom: #2f2f2f;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5vh;
}

#profileContainer {
    width: 50vw;
    height: 7vh;
    flex-direction: row;
    display: flex;
    border-bottom: #2f2f2f;
    border-style: solid;
    border-width: 2px;
}

#userNameContainer {
    margin-left: 10px;
    margin-top: 2px;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit {
    color: grey;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
}

#name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#name:hover {
    display: inline-block;
    transform: scale(1.1);
}

#picContainer {
    height: 63vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
}

#captionContainer {
    width: 40vw;
    height: 20vh;
    font-size: 20px;
    padding-top: 2vh;
    padding-left: 2.6vw;
    white-space: pre-line;
}

#commentContainer {
    height: 90vh;
    width: 25vw;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

#commentWrapper {
    width: 25vw;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vh;
    align-items: center;
    border: 1px solid grey
}

#comment-profile-wrapper {
    width: 25vw;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.comment {
    width: 25vw;
    height: auto;
    white-space: pre-line;
}

#menu {
    height: 90vh;
    width: 25vw;
    background-color: azure;
}

#notficationContainer {
    height: 90vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

.notification-wrapper {
    width: auto;
    height: 10vh;
    margin-right: 3vw;
    margin-top: 0.5vh;
    margin-left: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.notificationIcon {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    margin: 1vh;
}

.notificationName {
    font-size: 30px;
    text-decoration: underline;
    font-style: italic;
    margin-right: 1vw;
    margin-left: 1vw;
}

.profileComment {
    width: 100%;
    min-height: 3vh;
    color: black;
    background-color: whitesmoke;
    font-size: 25px;
}

.menuButtons {
    height: 18vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0ffff;
    cursor: pointer;
}

.menuButtons p{
    font-size: 30px;
}

#profileAvatar {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin-right: 2vw;
}

.submitButtons {
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    width: auto;
    min-width: 80px;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
}

.notification-wrapper {
    width: 100%;
    height: 10vh;
    background-color: rgb(238, 238, 238);
}

.postTitle {
    font-size: 25px;
    font-weight: bold;
    text-decoration: solid;
}

.notificationPostTitle {
    font-size: 25px;
    font-weight: bold;
    text-decoration: solid;
    margin-left: 1vw;
}

.notificationProfile {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    color: black;
}

.miniThumbnail {
    height: 9vh;
    width: fit-content;
    margin-left: 2vw;
}

.actions {
    display: flex;
    flex-direction: row;
}

.actions button{
    margin-right: 1vw;
}

.h1H:hover {
    display: inline-block;
    transform: scale(1.01);
}

.left {
    width: 25vw;
    background-color: white;
}

.middle {
    width: 60vw;
    background-color: white;
}

.profilePic {
    height: 5vh;
    width: 5vh;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.img {
    height: auto;
    max-height: 63vh;
    width: fit-content;
    max-width: 100%;
    display: flex;
    margin: auto;
}

.button {
    background-color: black;
    color: white;
    border: none;
    font-size: 35px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

#small-button {
    background-color: black;
    color: white;
    font-size: 15px;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

#open-comment-box {
    cursor: pointer;
}

#make-comment-box {
    width: 35vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: white;
}

.txtBox {
    width: 20vw;
    height: 15vh;
    background-color: #c9c9c9;
}

#exit {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30vh;
    right: 35vw;
    cursor: pointer;
}

.comment-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 0.5vw;
}

.popup-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#profile-page-container {
    width: 50vw;
    height: 90vh;
    background-color: white;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#edit-post-container {
    width: 50vw;
    height: 90vh;
    background-color: white;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#exit_profile {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 16px;
    cursor: pointer;
}

.profile-page-row {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2vh;
}

.edit-post-row {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2vh;
}

.profile-page-row h2 {
    margin-left: 2vw;
    margin-right: 2vw;
}

.profile-page-titles {
    margin-left: 25px;
    margin-right: 10vw;
}

.profile-page-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 7.8vw;
}

.profile-input-box {
    background-color: #c9c9c9;
    height: 30px;
    width: 200px;
    margin-left: 10vw;
}

.w-5{
    display: none;
}

.time {
    margin-left: 34vw;
    font-size: large;
    font-weight: bold;
}

.like {
    font-size: 15px;
    background-color: rgb(255, 206, 206);
    border-radius: 10px;
    height: 3vh;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.liked {
    font-size: 15px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    height: 3vh;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}