* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#head {
    width: 100%;
    max-height: 10vh;
    text-align: center;
    background-color: black;
}

#body {
    width: 100%;
    min-height: 80vh;
    max-height: 90vh;
}

#container {
    height: 90vh;
    width: 50vw;
    margin-left: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(199, 199, 199);
}

#upperContainer {
    min-height: 10vh;
    width: auto;
    border-color: black;
    border-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

#title {
    height: 3vh;
    width: 15vw;
}

#captionBox {
    height: 10vh;
    width: 15vw;
}

.h1H:hover {
    display: inline-block;
    transform: scale(1.01);
}

.button {
    background-color: black;
    color: white;
    border: none;
    font-size: 25px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.txtArea {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 200px;
}

#buttonRow {
    display: flex;
    width: 26vw;
    flex-direction: row;
}

#registerButton {
    display: flex;
}